.profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

@media screen and (max-width: 767px) {
  .profile {
    display: block;
    margin-bottom: 36px;
  }
}