.popup__form-text {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-text:last-child {
  margin-bottom: 48px;
}