.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  width: 880px;
  margin: 0 auto 38.25px;
}

@media screen and (max-width: 879px) {
  .header {
    padding-top: 28px;
    padding-left: 27px;
    margin-bottom: 31.6px;
    width: 320px;
  }
}