.profile__button_pencil {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  line-height: 5px;
  margin-left: 18px;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.profile__button_pencil:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .profile__button_pencil {
    margin-left: 15.25px;
    align-self: flex-start;
  }
}