.grid-foto {
  display: grid;
  gap: 17px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 67px;
}

@media screen and (max-width: 879px) {
  .grid-foto {
    grid-template-columns: auto;
    gap: 20px;
    margin-bottom: 48px;
  }
}