.footer__copyright-author {
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0 0 60px 0;
}

@media screen and (max-width: 879px) {
  .footer__copyright-author {
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 36px;
    padding-left: 19px;
  }
}